<%-include('header')%>
  
<div id="cntnt">
    <h1>About Us</h1>
    <h2><a href="/">←back</a></h2>
</div>
    <br><br><br><br>
    <p>Institutions that match up savers and borrowers help ensure that economies function smoothly

        YOU’VE got $1,000 you don’t need for, say, a year and want to earn income from the money until then. Or you want to buy a house and need to borrow $100,000 and pay it back over 30 years.
        
        It would be difficult, if not impossible, for someone acting alone to find either a potential borrower who needs exactly $1,000 for a year or a lender who can spare $100,000 for 30.
        
        That’s where banks come in.
        
        Although banks do many things, their primary role is to take in funds—called deposits—from those with money, pool them, and lend them to those who need funds. Banks are intermediaries between depositors (who lend money to the bank) and borrowers (to whom the bank lends money). The amount banks pay for deposits and the income they receive on their loans are both called interest.
        
        Depositors can be individuals and households, financial and nonfinancial firms, or national and local governments. Borrowers are, well, the same. Deposits can be available on demand (a checking account, for example) or with some restrictions (such as savings and time deposits).
        
        Making loans
        While at any given moment some depositors need their money, most do not. That enables banks to use shorter-term deposits to make longer-term loans. The process involves maturity transformation—converting short-term liabilities (deposits) to long-term assets (loans). Banks pay depositors less than they receive from borrowers, and that difference accounts for the bulk of banks’ income in most countries.
    <br><br>
    Banks also create money. They do this because they must hold on reserve, and not lend out, some portion of their deposits—either in cash or in securities that can be quickly converted to cash. The amount of those reserves depends both on the bank’s assessment of its depositors’ need for cash and on the requirements of bank regulators, typically the central bank—a government institution that is at the center of a country’s monetary and banking system. Banks keep those required reserves on deposit with central banks, such as the U.S. Federal Reserve, the Bank of Japan, and the European Central Bank. Banks create money when they lend the rest of the money depositors give them. This money can be used to purchase goods and services and can find its way back into the banking system as a deposit in another bank, which then can lend a fraction of it. The process of relending can repeat itself a number of times in a phenomenon called the multiplier effect. The size of the multiplier—the amount of money created from an initial deposit—depends on the amount of money banks must keep on reserve.

Banks also lend and recycle excess money within the financial system and create, distribute, and trade securities.
    </p>
    

<%-include("footer")%>