<%-include('header')%>
<div id="cntnt">
    <h1>Contact us on</h1>
    <h2><a href="/">←back</a></h2>
    </div>
<p>Bank safety and soundness are a major public policy concern, and government policies have been designed to limit bank failures and the panic they can ignite. In most countries, banks need a charter to carry out banking activities and to be eligible for government backstop facilities—such as emergency loans from the central bank and explicit guarantees to insure bank deposits up to a certain amount. Banks are regulated by the laws of their home country and are typically subject to regular supervision. If banks are active abroad, they may also be regulated by the host country. Regulators have broad powers to intervene in troubled banks to minimize disruptions.
    <br><br><br><br>
    Regulators are reviewing the growing importance of institutions that provide bank-like functions but that are not regulated in the same fashion as banks—so-called shadow banks—and looking at options for regulating them. The recent financial crisis exposed the systemic importance of these institutions, which include finance companies, investment banks, and money market mutual funds.
    <br><br><br>
   ↠ a high proportion of short-term funding such as checking accounts and repos to total deposits. Most deposits are used to finance longer-term loans, which are hard to convert into cash quickly;
<br>↠ a low ratio of cash to assets; and
<br>↠ a low ratio of capital (assets minus liabilities) to assets.
</p>
    <%-include("footer")%>