<div id="nav">
  <div id="nav1">
    <h1>bank<span>y</span></h1>
  </div>
  <div id="nav2">
    <a href="/register">Register Employee</a>
    <a href="/show">Show Employee</a>
    <a href="/aboutus">Aboutus</a>
    <a href="/contact">Contact</a>
  </div>
  </div>